<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GenericProject" parallel="classes" thread-count="1">
	<listeners>
		<listener class-name="gen.prj.utils.RetryListener" />
	</listeners>
	<test name="FunctionalTests">
		<classes>
			<class name="gen.prj.tests.TestOne" />
		</classes>
	</test>
</suite>
